.page-list{
    background: white;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 40px;
}
.page-list-active{
    background: gainsboro;
}
.page-list-link{
    line-height: normal;
    height: 30px;
}