<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th>mobile</th>
            <th>email</th>
            <th>u_type</th>
            <th>sex</th>
            <th>created_date</th>
            <th>last_login</th>
            <th>head_url</th>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.mobile}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.uType}"></td>
                <td th:text="${user.sex}"></td>
                <td th:text="${user.createdDate}"></td>
                <td th:text="${user.lastLogin}"></td>
                <td th:text="${user.headUrl}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/jquery.js}"></script>
<!-- Icons -->
<script type="text/javascript" src="asserts/js/feather.min.js"></script>
</html>